{% extends 'base.html' %}

{% block title %}Student detail{% endblock %}


{% block nav_class_students %}active{% endblock %}


{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="text-left text-uppercase bursaka-title-lg">{{ student.name }} {{ student.surname }}</h1>
      <div class="caption butsaka-address-block">
        <dl class="dl-horizontal">

          <dt class="icon-birth-date">Birth Date:</dt>
          <dd>{{ student.date_of_birth }}</dd>

          <dt class="icon-address">Address:</dt>
          <dd>{{ student.address }}</dd>

          <dt class="icon-email">E-mail:</dt>
          <dd><a href=mailto:pressley.nelle@bursaka.com">{{ student.email }}</a></dd>

          <dt class="icon-skype">Skype:</dt>
          <dd><a href="https://join.skype.com/{{ student.skype }}">{{ student.skype }}</a></dd>

          <dt class="icon-phone">Telephone:</dt>
          <dd>{{ student.phone }}</dd>

          <dt class="icon-package">Courses:</dt>
          {% for course in student.courses.all %}
          <dd><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></dd>
          {% endfor %}

        </dl>
      </div>
    </div>
    <div class="jumbotron">
      <h3>performance</h3>
      <table class="performance" width="100%">
        <thead>
        <tr>
          <th width="35%">Course</th>
          <th width="20%">Week</th>
          <th width="30%">Control Type</th>
          <th width="15%">Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row" width="40%">PY101 Entry to Python</th>
          <td colspan="3" width="55%">
            <table class="performance-week">
              <tr>
                <td rowspan="3" width="35%">Week 1</td>
                <td width="50%">Tests</td>
                <td width="15%">99%</td>
              </tr>
              <tr>
                <td>Problem task #1</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>Problem task #2</td>
                <td>100%</td>
              </tr>
            </table>
            <table class="performance-week">
              <tr>
                <td rowspan="2" width="35%">Week 2</td>
                <td width="50%">Tests</td>
                <td width="15%">100%</td>
              </tr>
              <tr>
                <td>Problem task #1</td>
                <td>100%</td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
