{% extends 'base.html' %}

{% block title %}Students{% endblock %}


{% block nav_class_students %}active{% endblock %}


{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>Список студентов</h2>
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>No</th>
          <th>Фамилия Имя</th>
          <th>Адрес</th>
          <th>Skype</th>
          <th>Крусы</th>
        </tr>
        </thead>
        <tbody>
        {% for student in list_view %}
        <tr>
          <td>{{ student.id }}</td>
          <td>
            <a href="{% url 'students:detail' student.id %}">
              {{ student.surname }} {{ student.name }}
            </a>
          </td>
          <td>{{ student.address }}</td>
          <td>{{ student.skype }}</td>
          <td>
            {% for course in student.courses.all %}
            <div><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></div>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
