{% extends 'base.html' %}

{% load static %}


{% block title %}Contacts{% endblock %}


{% block nav_class_contacts %}active{% endblock %}


{% block content %}
<div class="container contacts">
  <div class="row col-md-9">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <img src="{% static 'images/manager.jpg' %}" class="contact-image"
               data-holder-rendered="true">
          <h3>Manager</h3>
          <div class="caption">
            <div class="butsaka-address-block">
              <dl class="dl-horizontal">
                <dt class="icon-name">Name:</dt>
                <dd>Trinity Popova</dd>
                <dt class="icon-skype">Skype:</dt>
                <dd><a href="https://join.skype.com/bursaka.trinity.popova">bursaka.trinity.popova</a>
                </dd>
                <dt class="icon-email">Email:</dt>
                <dd><a href=mailto:trinity.popova@bursaka.com">trinity.popova@bursaka.com</a>
                </dd>
                <dt class="icon-phone">Phone:</dt>
                <dd>+388888888888</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <img src="{% static 'images/founder.jpg' %}" class="contact-image"
               data-holder-rendered="true">
          <h3>Founder</h3>
          <div class="caption butsaka-address-block">
            <dl class="dl-horizontal">
              <dt class="icon-name">Name:</dt>
              <dd>Neo Karachintsev</dd>
              <dt class="icon-skype">Skype:</dt>
              <dd><a href="https://join.skype.com/bursaka.neo.karachintsev">bursaka.neo.karachintsev</a>
              </dd>
              <dt class="icon-email">Email:</dt>
              <dd><a href=mailto:neo.karachintsev@bursaka.com">neo.karachintsev@bursaka.com</a>
              </dd>
              <dt class="icon-phone">Phone:</dt>
              <dd>+388888888887</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <img src="{% static 'images/director.jpg' %}" class="contact-image"
               data-holder-rendered="true">
          <h3>Director</h3>
          <div class="caption butsaka-address-block">
            <dl class="dl-horizontal">
              <dt class="icon-name">Name:</dt>
              <dd>Morpheus Ziberstain</dd>
              <dt class="icon-skype">Skype:</dt>
              <dd><a href="https://join.skype.com/bursaka.morpheus.ziberstain">bursaka.morpheus.ziberstain</a>
              </dd>
              <dt class="icon-email">Email:</dt>
              <dd>
                <a href=mailto:morpheus.ziberstain@bursaka.com">morpheus.ziberstain@bursaka.com</a>
              </dd>
              <dt class="icon-phone">Phone:</dt>
              <dd>+388888888889</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include 'include/carousel_include.html' %}
</div>
{% endblock content %}
