{% extends 'base.html' %}

{% block title %}Bursaka{% endblock %}


{% block nav_class_index %}active{% endblock %}


{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="jumbotron">
      {% include 'include/carousel_include.html' %}
      <h1 class="text-left text-uppercase bursaka-title-lg">Bursaka</h1>
      <p class="description-content">
        Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
        Nam eget dui. Etiam rhoncus.
      </p>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Курс</th>
          <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        {% for course in course_list %}
        <tr>
          <td><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></td>
          <td>{{ course.short_description|title }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
