{% extends 'base.html' %}

{% block title %}Course{% endblock %}


{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="text-left text-uppercase bursaka-title-lg">{{ course.name }}</h1>
      <p class="description-content">{{ course.description|truncatechars:'32' }}</p>
      {% if course.coach %}
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Преподаватель</h3>
        </div>
        <div class="panel-body">
          <h4>
            <a href="{% url 'coaches:detail' course.coach.id %}">
              {{ course.coach.first_name }} {{ course.coach.last_name }}
            </a>
          </h4>
          <div>{{ course.coach.description }}</div>
        </div>
      </div>
      {% endif %}
      {% if course.assistant %}
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Ассистент</h3>
        </div>
        <div class="panel-body">
          <h4>
            <a href="{% url 'coaches:detail' course.assistant.id %}">
              {{ course.assistant.first_name }} {{ course.assistant.last_name }}
            </a>
          </h4>
          <div>{{ course.assistant.description }}</div>
        </div>
      </div>
      {% endif %}
      <a href="{% url 'courses:lesson_add' course.id %}"><button type="button" class="btn btn-primary btn-xs">➕ Добавить занятие</button></a>
      <h3>План курса:</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Тема</th>
          <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        {% for lesson in lesson_list %}
        <tr>
          <td>{{ lesson.order }}</td>
          <td>{{ lesson.subject }}</td>
          <td>{{ lesson.description }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
