{% extends 'base.html' %}

{% block title %}Coach detail{% endblock %}


{% block content %}
<div class="container">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="text-left text-uppercase bursaka-title-lg">{{ coach.first_name }} {{ coach.last_name }}</h1>
      <div class="caption butsaka-address-block">
        <dl class="dl-horizontal">

          <dt class="icon-birth-date">Birth Date:</dt>
          <dd>{{ coach.date_of_birth|date:"d M, Y" }}</dd>

          <dt class="icon-address">Address:</dt>
          <dd>{{ coach.address }}</dd>

          <dt class="icon-email">E-mail:</dt>
          <dd><a href=mailto:pressley.nelle@bursaka.com">{{ coach.email }}</a></dd>

          <dt class="icon-skype">Skype:</dt>
          <dd><a href="https://join.skype.com/{{ coach.skype }}">{{ coach.skype }}</a></dd>

          <dt class="icon-phone">Telephone:</dt>
          <dd>{{ coach.phone }}</dd>

          <dt class="icon-package">Курсы учитель:</dt>
          <dd>
            {% for c_coach in courses_coach %}
            <a href="{% url 'courses:detail' c_coach.id %}">{{ c_coach.name }}</a>
            студенты курса
            <a href="{% url 'students:list_view' %}?course_id={{ c_coach.id }}">
              <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            </a>
            <br/>
            {% endfor %}
          </dd>

          <dt class="icon-package">Курсы ассистент:</dt>
          <dd>
            {% for c_assistant in courses_assistant %}
            <a href="{% url 'courses:detail' c_assistant.id %}">{{ c_assistant.name }}</a>
            студенты курса
            <a href="{% url 'students:list_view' %}?course_id={{ c_assistant.id }}">
              <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            </a>
            <br/>
            {% endfor %}
          </dd>

        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock content %}